/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.titulo {
    background: rgb(57, 57, 223);
    color: white;
    width: 40%;
    padding: 5px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}
.contenedor {
    width: 40%;
    margin: auto;
}
li {
    background: white;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 5px;
}
li:hover {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background: rgb(187, 187, 187);
}
ul {
    display: contents;
}
input {
    width: 100%;
}

.tengo {
    background: gray;
    color: white;
    margin-top: 5px;
    border-radius: 5px;
}
.basura {
    background: rgba(253, 253, 253, 0);
    color: white;
    border: none;
}

.basura:hover {
    background: red;
}
